{
    color: black;
    text-align: center;
    font-size: 1.33px;
}
.ner{
    background: orangered;
}
p{
    font-family: Arial;
    font-size: 16px;
    text-align: justify;
}
.asu{
    color: blue;
    font-size: 19px;
}
.red{
    color: red;
    font-size: 20px;
}
.marr{
    color: chocolate;
    font-size: 19px;
}
.ver{
    color: black;
    font-size: 20px;
}