<!doctype html>
<html>
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" href="estilo.css">
    <title>Valle Grande</title>
</head>
<body>
<img src="img/ju.png" width="104" alt="hj">
<button class="ner" type="button">Nosotros</button>
<button class="ner" type="button">Historia</button>
<button class="ner" type="button">Videos</button>

<h1>Bienvenidos a Valle Grande</h1>
<br>
<img src="img/ja.png" width="500" alt="hj">

<h2 class="red">Quiénes somos</h2>
<p>
    Valle Grande es actualmente un Centro de Educación Superior constituido por la <br>
    Promotora de Obras Sociales y de Instrucción Popular (PROSIP) el 25 de febrero de <br>
    1965, reconocido por el Ministerio de Agricultura mediante Resolución Directoral N° <br>
    04383-AG-DGAG del 2 de junio de 1983 y por el Ministerio de Educación mediante <br>
    Resolución Ministerial N°0751-92-ED.
</p>

<h3 class="asu">Desarrollo histórico</h3>
<p>
    Han transcurrido casi 50 años de trabajo y continuamos con el <br>
    mismo deseo, seguir contribuyendo con el bienestar de las <br>
    familias de Cañete y Yauyos.
</p>
<img class="no" src="img/ji.png" width="130" alt="hj">
<a href="https://vallegrande.edu.pe/nosotros/" target="_blank">
    <button class="ner" type="button">Leer más</button>
</a>

<h3 class="red">Misión y Visión</h3>

<h4 class="marr">Misión</h4>
<p>
    Formar personas en el ámbito técnico profesional, considerando el sentido <br>
    trascendente del hombre, desarrollando en ellos competencias, que faciliten su <br>
    inserción laboral, contribuyendo de esta manera al desarrollo del país.
</p>

<h4 class="marr">Visión</h4>
<p>
    Ser una institución referente de excelencia de la educación técnico profesional del <br>
    Perú, asociada al sector productivo.
</p>

<h5 class="ver">Organigrama</h5>
<h6 class="asu">Visita nuestro canal de Youtube</h6>
<a href="https://www.youtube.com/channel/UCAy8Qkj1AQuqnKiogNdshBA" target="_blank">
    <img src="img/jo.png" width="500" alt="Canal de YouTube">
</a>
<img src="img/je.png" width="500" alt="hj">
</body>
</html>
